//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 14 15:23:22 2024
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "an<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "an<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "a_to_g<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "dp" LOCATE = SITE "H15" LEVEL 1;
COMP "a_to_g<1>" LOCATE = SITE "T11" LEVEL 1;
COMP "a_to_g<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "a_to_g<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "a_to_g<4>" LOCATE = SITE "K16" LEVEL 1;
COMP "a_to_g<5>" LOCATE = SITE "R10" LEVEL 1;
COMP "a_to_g<6>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "R15" LEVEL 1;
SCHEMATIC END;

